.board-filter {
  display: flex;
  align-items: center;

  .search-btn {
    height: 32px;
    width: 100px;
    display: flex;
    align-items: center;
    margin-inline-start: 10px;
    border-radius: 5px;
    &:hover {
      background-color: #e6e9ef;
    }

    .search-icon {
      padding: 0 5px;
    }
    .el-input {
      .el-input__inner {
        height: 100%;
        border: none;
        padding: 0 3px;
        background-color: transparent;
        color: #7b7c7f;
        &::placeholder {
          color: #7b7c7f;
          font-family: Roboto;
        }
      }
    }
  }
  .person-filter-btn {
    position: relative;
    width: 115px;
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-inline-start: 5px;
    &:hover {
      background-color: #e6e9ef;
    }
    .person-picker-popover {
      width: 100%;
      // reference button
      .popover-btn {
        width: 100%;
        height: 32px;
        display: flex;
        align-items: center;
        border: none;
        .btn-wrapper {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 32px;
          width: 100%;
          // position: absolute;
          // top: 0;
          // left: 0;
          // height: 100%;
          // z-index: 100;
          // background-color: transparent;
          &:hover {
            color: #7b7c7f;
          }
          .user-img {
            width: 25px;
            height: 25px;
            margin-inline-end: 5px;
            
          }
          .el-icon-user {
            margin-inline-end: 10px;
          }
          .el-icon-close {
            position: absolute;
            right: -15px;
            top: 11px;
            font-size: rem(9px);
            padding: 1px;
            border-radius: 50%;
            color: #ecf5ff;
            background-color: #646d79;
          }
        }
      }
    }
  }
  .status-filter-btn,
  .priority-filter-btn {
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: none;
    height: 32px;
    margin-inline-start: 5px;
    .popover-btn {
      position: relative;
      display: flex;
      justify-content: center;
      width: 115px;
      height: 32px;
      display: flex;
      align-items: center;
      border: none;
      &:hover {
        color: #7b7c7f;
      }
      .el-icon-s-order {
        margin-inline-end: 5px;
      }
      .el-icon-close {
        font-size: rem(9px);
        padding: 1px;
        position: absolute;
        right: 6px;
        top: 11px;
        border-radius: 50%;
        color: #ecf5ff;
        background-color: #646d79;
      }
    }
  }
}

.el-popover {
  .titles {
    .title1 {
      padding: 10px 0;
      color: black;
      font-size: rem(15px);
      font-family: RobotoMedium;
    }
    .title2 {
      margin-bottom: 10px;
    }
  }
  .persons {
    display: flex;
    flex-wrap: wrap;
    .person {
      border: 5px solid transparent;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
      }
      .person-img {
        width: 30px;
        height: 30px;
      }
    }
  }
  .statuses {
    .status {
      width: 200px;
      height: 34px;
      margin: 5px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
      .status-name {
        color: #fff;
      }
    }
  }
  .priorities {
    .priority {
      width: 200px;
      height: 32px;
      margin: 5px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
      .priority-name {
        color: #fff;
      }
    }
  }
}
