.login-singup{
display: flex;
flex-direction: column;

align-items: center;
img{
    width: 150px;
}
.login-singup-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    input ,button{
        width: 300px;
        padding: 10px;
        font-size: rem(18px);
        border-radius: 7px;
        outline: none;
        border: 0.7px lightblue solid;
    }
    button{
 background-color: rgb(238, 235, 235);
    }
    b{
        cursor: pointer;
    }
}

}